<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <bean class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 指定数据源 -->
        <property name="dataSource" ref="dataSource"/>
        <!-- 指定mybatis的全局配置文件 -->
        <property name="configLocation" value="classpath:mybatis/mybatis-config.xml"/>
        <!-- 指定mapper.xml文件，扫描所有的文件 -->
        <property name="mapperLocations" value="classpath:mybatis/mapping/*.xml"/>
        <!-- 指定别名包 -->
        <property name="typeAliasesPackage" value="com.tongren.pojo"/>
    </bean>

    <!-- 定义Mapper接口的扫描器 -->
    <bean class="tk.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.tongren.mapper"/>
        <!--这是 Mapper 接口配置，当接口为此默认配置时，可不写-->
        <property name="properties">
            <value>
                mappers=tk.mybatis.mapper.common.Mapper
            </value>
        </property>
    </bean>
</beans>
