<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <plugins>

        <!-- 配置分页助手（配置在通用mapper的前面） -->
        <plugin interceptor="com.github.pagehelper.PageHelper">
            <property name="dialect" value="mysql"/>
            <!-- 设置为true时，使用RowBounds分页会进行count查询 -->
            <property name="rowBoundsWithCount" value="true"/>
        </plugin>

        <!--&lt;!&ndash; 通用Mapper &ndash;&gt;-->
        <!--<plugin interceptor="tk.mybatis.mapper.mapperhelper.MapperInterceptor">-->
            <!--&lt;!&ndash;主键自增回写方法,默认值MYSQL,详细说明请看文档 &ndash;&gt;-->
            <!--<property name="IDENTITY" value="MYSQL"/>-->
            <!--&lt;!&ndash;通用Mapper接口，多个通用接口用逗号隔开 &ndash;&gt;-->
            <!--<property name="mappers" value="tk.mybatis.mapper.common.Mapper"/>-->
        <!--</plugin>-->
    </plugins>

</configuration>
